<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Footsee.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
				<key>dateExpires</key>
				<string>6/19/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BoltsSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MetaWear.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyCam.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZIPFoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>212727D53F4E593929CE7A6F7FE74B7C615D4295</string>
						<key>dateExpires</key>
						<string>6/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDFULibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A25W4243CS</string>
						<key>name</key>
						<string>Sunil Hadap</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A25W4243CS.com.sunilhadap.rhapsody.Footsee1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A25W4243CS</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>A25W4243CS.com.sunilhadap.rhapsody.Footsee1</string>
				</array>
			</dict>
			<key>name</key>
			<string>Footsee.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a8eaef27-37fe-40e2-a830-3ba15f8674d3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sunilhadap.rhapsody.Footsee1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A25W4243CS</string>
				<key>name</key>
				<string>Sunil Hadap</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
